<!-- Email Sent To The Newly Registered User -->

<div>
	<h1>DEVELOPERS HUB</h1>
	<hr>
	<h3>Thanks for joining Developers Hub!</h3>
	<p>Hi there <b>{{ name }}</b>, We are very happy that you will be part of our growing community. To complete your registration process, use the code below to verify your email.</p>
	<h1>{{ confirmation_number }}</h1>
	<hr>
	<div>
		<small>If you have any questions, feel free to reply to this email.</small><br>
		<small><u>dsb.developers.hub@gmail.com</u></small>
	</div>
</div>
